* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-text {
  border: 2px solid #000;
  padding: 20px;
  margin: 70px auto;
  max-width: 800px;
  text-align: center;
}

section {
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.p-text{
    font-size: 16px;
    line-height: 1.5;
    width: 80%;  
}

.d-flex{
    gap: 10rem;
}
.d-flex img{
    width: 60%;
    height: auto;
    border-radius: 10px;
}

